.App {
  text-align: center;
  min-height: 100vh;
  height: 100%;
  background: repeating-linear-gradient(
    90deg,
    #F9B8C2,
    #F9B8C2 5%,
    #FFF0D6 5%,
    #FFF0D6 10%,
    #CDF4D6 10%,
    #cdf4d6 15%,
    #AEF9EF 15%,
    #AEF9EF 20%,
    #8fdeea 20%,
    #8FDEEA 25%
  );
  
}

.login-card{
  background-color:  #8FDEEA;
  border-color:  rgb(65, 197, 218);
  font-family: 'Montserrat', sans-serif;
  width: 39%;
  margin-top: 5%;
  margin-left: 30.5%;
  border-radius: 3%;
  padding: 2%;
}

.login-card-inner{
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
}

.login-card-input{
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.normal-button{
  font-size: 10pt;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: white !important;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

h2{
  font-size: 26pt !important
}

.welcome-btn{
  font-size: 40pt;
  width: 6.7em;
  height: 3.7em;
  margin: .2em;
  border-style: solid;
  border-color: rgb(146, 225, 235);
  border-radius: 5%;
  background-color:rgb(179, 238, 247);
  font-family: 'Montserrat', sans-serif;
  
  /* display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform; */
}

.welcome-btn:hover{
  background-color:  #8FDEEA;
  border-color:  rgb(110, 202, 216)
}


.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}


.nav-item{
  margin-left: 1.3em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 16pt;
  color: black
}

.nav-bar{
  padding: 1em;
  /* background: repeating-linear-gradient(
    90deg,
    #F9B8C2,
    #F9B8C2 5%,
    #FFF0D6 5%,
    #FFF0D6 10%,
    #CDF4D6 10%,
    #CDF4D6 15%,
    #AEF9EF 15%,
    #AEF9EF 20%,
    #8FDEEA 20%,
    #8FDEEA 25%
  ); */
  background-color:rgb(122, 224, 240);
  cursor: pointer;
}

/* CALENDAR START */

.calendar2{
  margin-left: 23%;
  background-color:rgb(0, 187, 255);
  border-radius: 2%;
  align-content: center;
  color: black;
  font-size: 18pt;
  min-height: 72% !important;
  padding: 2%;
}

/* .react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid rgb(31, 156, 206);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  height: 75%  !important;
  min-width: 50%;
  align-content: center;
  margin-left: 25%
} */

.react-calendar__month-view__days__day--weekend{
  color: black !important;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575 !important;
}

.react-calendar {
  width: 54vw !important;
  min-height: 72% !important;
  max-width: 100%;
  background: white;
  border: 1px solid rgb(31, 156, 206);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar__navigation button {
    /* width: 10%; */
    font-size: 16pt;
    background: none;
    margin-top: 1em !important;
}

.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.5em;
  padding-bottom: .6em;
  background: none;
}

.react-calendar__tile--active {
  background: rgb(110, 202, 216) !important;
  color: white;
} 

/* CALENDAR END */

.show-entry{
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  border: #c8c9ca;
  border-style: solid;
  padding: 5%;
  border-radius: 2%;
  background-color:rgb(204, 244, 248);
}

.input-textarea{
  min-width: 70%;
  min-height: 3.5em;
  font-size: 12pt;
}

.page{
  margin: 2%;
  border: #000000;
  max-width: 80%;
}

.scale-item{
  border: #000000;
}

/* TABLE STYLING START */

table {
  border-collapse: collapse;
  width: 60%;
  min-width: 60%;
  margin-left: 20%;
  border-radius: 3%;
}

.rounded{
  border-radius: 2% !important
}

table, th, td {
  border: 1px solid black;
  font-size: 11pt;
}

th{
  background-color: rgb(31, 156, 206);
  padding: .3em;
  font-size: 14pt;
  font-family: 'Montserrat', sans-serif;
  color: aliceblue;
}

td{
  padding: .2em;
  text-align: left;
  font-size: 10pt;
}

tbody{
  background-color: aliceblue;
  width: 50%;
}

.centered-table-element{
  text-align: center 
}
.symptoms-table-outer{
  background-color:rgb(117, 212, 227);
  width: 60%;
  margin-left: 20%;
  padding-top: .5%;
  border-radius: 2%;
  color: black;
  font-family: 'Montserrat', sans-serif;
}
.symptoms-table{
  background-color:rgb(204, 244, 248);
  padding: 3%;
  padding-left: 15%;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: left;
  -moz-columns:2;
  -webkit-columns:2;
  columns:2;
}

/* TABLE STYLING END */

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
}

.modal-dialog {
  min-width: 50%;
  min-height: 10%;
  margin: 1.75rem auto;
}

.chartjs-render-monitor {
  /* animation: chartjs-render-animation 0.001s;
  max-width: 95vw;
  max-height: 80vh;
  margin: 2%;
  margin-left: 6%;
  background-color: white;
  padding: 2%;
  border-radius: 2%; */

  animation: chartjs-render-animation 0.001s;
  max-width: 75vw;
  max-height: 75vh;
  margin: 4%;
  margin-left: 12.5% !important;
  margin-left: 6%;
  background-color: white;
  padding: 2%;
  border-radius: 2%;
}

.page-left{
  text-align: left;
  margin: 3%;
  line-height: 1.5em;
  padding: 0%;
  padding-left: 10%
}

header{
  font-size: 40pt;
  background-color:rgb(122, 224, 240);
  color: black;
  padding: 1.5%;
  font-family: 'Montserrat', sans-serif;
}

.entry-form{
  margin-top: 5%;
  margin-left: 18%;
  margin-right: 18%;
  border: #c8c9ca;
  border-style: solid;
  padding: 2%;
  border-radius: 2%;
  background-color:rgb(204, 244, 248);
}

.nav-name{
  font-size: 36pt;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 500
}

.sc-container{
  background-color: rgb(204, 244, 248);
  margin: 15%;
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 3%;
  border: #c8c9ca;
  border-style: solid;
  width: 70%
}

.sc-container-points{
  background-color: rgb(204, 244, 248);
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.earlier-btn{
  margin-right: 60%;
}

.later-btn{
  margin-right: 5%;  
}

.show-entry-input{
  font-size: 12pt;
}

.show-entry-question{
  font-size: 14pt;
}

li{
  font-size: 14pt
}

.sc-menu{
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
}

.sc-menu-btn{
  font-size: 18pt;
  width: 6em;
  height: 3.5em;
  margin: .3em;
  border-radius: 5%;
  background-color: rgb(31, 156, 206);
}

.sc-menu-btn:hover{
  background-color: rgb(31, 156, 206);
}

.schedule-form{
  border-color: rgb(117, 212, 227);
  width: 36%;
  padding: 2%;
  border-radius: 2%;
  margin-top: 8%;
  margin-left: 9.5%;
  /* margin-right: 2%; */
  background-color:rgb(204, 244, 248);
  font-size: 10pt;
  border: #c8c9ca;
  border-style: solid;
}

.schedule-container{
display: flex;
flex-direction: row
}

input[type="datetime-local" i] {
  align-items: center;
  display: -webkit-inline-flex;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  padding-inline-start: 1px;
  cursor: default;
  overflow: hidden;
  width: 14.5em;
}

.style-font{
  font-family: 'Montserrat', sans-serif;
}

.schedule-header{
  font-size: 16pt;
  font-family: 'Montserrat', sans-serif;
}

label{
  font-size: 16pt;
}

.appointment-block{
  text-align: left;
  display: block
}

.appointment{
  display: flex
}

.appointment button{
  height: 2em;
  margin-top: -.4em;
  margin-right: 0%;
  margin-left: 25%
}

.appointment p{
  margin: 0%
}

.modal{
  position: -webkit-sticky;
  position: sticky;
  top: 20px !important;
}

ul{
  padding-top: 3%;
  font-size: 10pt !important;
  margin-bottom: 2%;
}

/* STYLING OPTIONS START */

.background-container{
  display: flex;
  flex-direction: row;
}

.background-btn{
  height: 2em;
  width: 2em;
  margin-left: 1.5em;
  border-radius: 50%;
  border-width: 1px;
  position: relative;
  top: .5em;
  border-color: rgb(170, 171, 172);
  border-style: solid;
  background: repeating-linear-gradient(
    90deg,
    #F9B8C2,
    #F9B8C2 20%,
    #FFF0D6 20%,
    #FFF0D6 40%,
    #CDF4D6 40%,
    #cdf4d6 60%,
    #AEF9EF 60%,
    #AEF9EF 80%,
    #8fdeea 80%,
    #8FDEEA 100%
  );
}

.rainbow{
  text-align: center;
  min-height: 100vh;
  height: 100%;
  background: repeating-linear-gradient(
    90deg,
    #F9B8C2,
    #F9B8C2 5%,
    #FFF0D6 5%,
    #FFF0D6 10%,
    #CDF4D6 10%,
    #cdf4d6 15%,
    #aef9ef 15%,
    #AEF9EF 20%,
    #8fdeea 20%,
    #8FDEEA 25%
  );
}
.rainbow-btn{
  width: 25%;
  min-height: 12vh;
  margin: 1%;
  margin-left: 1.5em;
  background: repeating-linear-gradient(
    90deg,
    #F9B8C2,
    #F9B8C2 10%,
    #FFF0D6 10%,
    #FFF0D6 20%,
    #CDF4D6 20%,
    #cdf4d6 30%,
    #AEF9EF 30%,
    #AEF9EF 40%,
    #8fdeea 40%,
    #8FDEEA 50%
  );
}

.blue-green{
  text-align: center;
  min-height: 100vh;
  height: 100%;
  background: repeating-linear-gradient(
    90deg,
    #77d8bb,
    #77d8bb 5%,
    #d9f5e0 5%,
    #d9f5e0 10%,
    #8AD3C5 10%,
    #8AD3C5 15%,
    #AEF9EF 15%,
    #AEF9EF 20%,
    #8fdeea 20%,
    #8FDEEA 25%
  );
}
.blue-green-btn{
  width: 25%;
  min-height: 12vh;
  margin: 1%;
  margin-left: 1.5em;
  background: repeating-linear-gradient(
    90deg,
    #77d8bb,
    #77d8bb 10%,
    #d9f5e0 10%,
    #d9f5e0 20%,
    #8AD3C5 20%,
    #8AD3C5 30%,
    #AEF9EF 30%,
    #AEF9EF 40%,
    #8fdeea 40%,
    #8FDEEA 50%
  );
}

.bgp{
  text-align: center;
  min-height: 100vh;
  height: 100%;
  background: repeating-linear-gradient(
    90deg,
    rgb(247, 176, 223),
    rgb(247, 176, 223) 5%,
    rgb(248, 213, 242) 5%,
    rgb(248, 213, 242)10%,
    rgb(230, 194, 248) 10%,
    rgb(230, 194, 248)  15%,
    rgb(174, 244, 249) 15%,
    rgb(174, 244, 249) 20%,
    #93e1ed 20%,
    #93e1ed 25%
  );
}
.bgp-btn{
  width: 25%;
  min-height: 12vh;
  margin: 1%;
  margin-left: 1.5em;
  background: repeating-linear-gradient(
    90deg,
    rgb(247, 176, 223),
    rgb(247, 176, 223) 10%,
    rgb(248, 213, 242) 10%,
    rgb(248, 213, 242)20%,
    rgb(230, 194, 248) 20%,
    rgb(230, 194, 248) 30%,
    rgb(174, 244, 249) 15%,
    rgb(174, 244, 249) 40%,
    #93e1ed 40%,
    #93e1ed 50%
  );
  /* color: rgb(136, 250, 235) */
}

.blue-neutral{
  text-align: center;
  min-height: 100vh;
  height: 100%;
  background: repeating-linear-gradient(
    90deg,
    rgb(147, 178, 184),
    rgb(147, 178, 184) 5%,
    rgb(196, 245, 214) 5%,
    rgb(196, 245, 214) 10%,
    rgb(238, 243, 224) 10%,
    rgb(238, 243, 224)15%,
    #AEF9EF 15%,
    #AEF9EF 20%,
    #8fdeea 20%,
    #8FDEEA 25%
  );
}
.blue-neutral-btn{
  width: 25%;
  min-height: 12vh;
  margin: 1%;
  margin-left: 1.5em;
  background: repeating-linear-gradient(
    90deg,
    rgb(147, 178, 184),
    rgb(147, 178, 184) 10%,
    rgb(196, 2410, 214) 10%,
    rgb(196, 245, 214) 20%,
    rgb(238, 243, 224)20%,
    rgb(238, 243, 224)30%,
    #AEF9EF 30%,
    #AEF9EF 40%,
    #8fdeea 40%,
    #8FDEEA 50%
  );
}

/* STYLING OPTIONS END */

/* ACCORDION START */
.accordion {
  background-color:rgb(122, 224, 240);
  color: black;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  padding: 2%;
  padding-left: 5%;
  width: 70%;
  border-radius: 2%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-left: 12%
}

.panel {
  padding: 1%;
  background-color:rgb(204, 244, 248);
  color: #000;
  font-size: 11pt;
  font-family: Arial, Helvetica, sans-serif;
}
/* ACCORDION STOP */

/* CURSOR START */
button{
  cursor: pointer;
}

.react-calendar__navigation__label{
  font-size: 16pt;
}

select{
  cursor: pointer;
  font-size: 10pt !important;
}

.Collapsible{
  font-size: 16pt
}

input[type="text" i] {
  align-items: center;
  display: -webkit-inline-flex;
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  padding-inline-start: 1px;
  cursor: default;
  overflow: hidden;
  width: 14em;
}

.elevenpt{
  font-size: 15pt;
  line-height: 1.5em;
}

input[type="submit"]{
  cursor: pointer;
} 
/* CURSOR END */

/* MEDIA QUERIES START */

@media(max-width:600px){
  .calendar2{
    margin-left: 25%;
    background-color:rgb(0, 187, 255);
    border-radius: 2%;
    align-content: center;
    color: black;
    font-size: 8pt;
    width: 15%;
  }

  .input-textarea{
    min-width: 70%;
    min-height: 3.5em;
    font-size: 8pt !important;
  }

  input[type="datetime-local" i] {
    align-items: center;
    display: -webkit-inline-flex;
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline-start: 1px;
    cursor: default;
    overflow: hidden;
    width: 10em;
  }

   input[type="text" i] {
    align-items: center;
    display: -webkit-inline-flex;
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline-start: 1px;
    cursor: default;
    overflow: hidden;
    width: 9em;
  }

  .show-entry-input{
    font-size: 8pt;
  }
  
  .show-entry-question{
    font-size: 10pt;
  }

  label{
    font-size: 10pt;
  }

  .react-calendar {
    width: 64vw !important;
    min-height: 72% !important;
    max-width: 100%;
    background: white;
    border: 1px solid rgb(31, 156, 206);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    margin-left: 18%
  }

  .react-calendar__navigation__label{
    font-size: 8pt;
  }

  .react-calendar__navigation button {
    font-size: 8pt;
    background: none;
    padding: 0%;
    margin-top: 1em !important;
  }

  .schedule-form{
    border-color: rgb(117, 212, 227);
    width: 44%;
    padding: 2%;
    border-radius: 2%;
    margin-top: 8%;
    margin-left: 4%;
    background-color:rgb(204, 244, 248);
    font-size: 10pt;
    border: #c8c9ca;
    border-style: solid;
  }

  .Collapsible{
    font-size: 11pt
  }

  h1{
    font-size: 1rem;
  }

  h2{
    font-size: 14pt;
  }

  .schedule-header{
    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;
  }

  .symptoms-table-outer{
    background-color:rgb(117, 212, 227);
    width: 70%;
    margin-left: 15%;
    padding-top: .5%;
    border-radius: 2%;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 14pt;
  }
  .symptoms-table{
    background-color:rgb(204, 244, 248);
    padding: 3%;
    padding-left: 15%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: left;
    -moz-columns:2;
    -webkit-columns:2;
    columns:2;
  }

  .input-textarea{
    min-width: 70%;
    min-height: 3.5em;
    font-size: 12pt;
  }

  li{
    font-size: 10pt
  }

  .elevenpt{
    font-size: 10pt;
  }

  input[type="datetime-local" i] {
    align-items: center;
    display: -webkit-inline-flex;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline-start: 1px;
    cursor: default;
    overflow: hidden;
    width: 10em;
  }

   input[type="text" i] {
    align-items: center;
    display: -webkit-inline-flex;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline-start: 1px;
    cursor: default;
    overflow: hidden;
    width: 9em;
  }

  .appointment p{
    font-size: 10pt
  }

  .chartjs-render-monitor {
    animation: chartjs-render-animation 0.001s;
    max-width: 75vw;
    /* min-height: 50vh; */
    height: 75%;
    margin: 4%;
    margin-left: 12.5% !important;
    margin-left: 6%;
    background-color: white;
    padding: 2%;
    border-radius: 2%;
  }

  .nav-item{
    margin-left: .5em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 10pt;
    color: black
  }

  .nav-name{
    font-size: 20pt;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 500;
  }

  .welcome-btn{
    font-size: 16pt;
    width: 6.5em;
    height: 3.5em;
    margin: 1em;
    margin-bottom: .5em;
    border-radius: 5%;
    border-style: solid;
    background-color:rgb(205, 237, 241);
    font-family: 'Montserrat', sans-serif;
  }

}

@media(min-width:1500px){
  .welcome-btn{
    font-size: 42pt;
    width: 6.8em;
    height: 3.5em;
    margin: 1em;
    margin-bottom: .5em;
    border-radius: 5%;
    border-style: solid;
    background-color:rgb(205, 237, 241);
    font-family: 'Montserrat', sans-serif;
  }

  header{
    font-size: 46pt;
  }

  .nav-item{
    margin-left: 1.75em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 20pt;
    color: black
  }

  .nav-name{
    font-size: 38pt;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 500;
  }
  
  .react-calendar {
    width: 54vw !important;
    min-height: 80% !important;
    max-width: 100%;
    background: white;
    border: 1px solid rgb(31, 156, 206);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
  }
  
  .calendar2{
    margin-left: 23%;
    background-color:rgb(0, 187, 255);
    border-radius: 2%;
    align-content: center;
    color: black;
    font-size: 18pt;
    min-height: 80% !important;
    padding: 2%;
  }
  
  .react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 0.5em;
    padding-bottom: .6em;
    background: none;
    height: 3.5em;
  }
}


footer{
  padding: 1em;
  background-color:rgb(122, 224, 240);
  cursor: pointer;
  font-size: 10pt;
  bottom: 0;
  width: 100%;
  /* position: fixed */
}

/* MEDIA QUERIES END */

/* ANIMATIONS */

.slide-fwd-center {
	-webkit-animation: slide-fwd-center 0.4s cubic-bezier(0.600, 0.040, 0.980, 0.335) forwards;
	        animation: slide-fwd-center 0.4s cubic-bezier(0.600, 0.040, 0.980, 0.335) forwards;
}