.App {
  text-align: center;
  /* background-color: #61dafb; */
  min-height: 100vh;
  height: 100%;
  
  
  /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
  /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  /* background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%); */
  /* background-image: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%); */
}
/* BACKGROUND CHOICES
background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
background-image: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%);

*/

/* 

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcome-btn{
  font-size: 36pt;
  width: 8em;
  height: 4em;
  margin: .4em;
  border-radius: 5%;
  /* display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform; */
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}


.nav-item{
  margin-left: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.nav-bar{
  padding: 1em;
  background-color: #61dafb;
}

.calendar{
  /* margin-left: 1%; */
  min-width: 46vw;
  min-height: 60vh;
  background-color:rgb(0, 187, 255);
  border-radius: 2%;
  align-content: center;
  color: black;
  font-size: 36pt;
}

.calendar2{
  margin-left: 20%;
  /* min-width: 5em;
  min-height: 3em; */
  background-color:rgb(0, 187, 255);
  border-radius: 2%;
  align-content: center;
  color: black;
  font-size: 14pt;
}

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  min-height: 75vh;
  min-width: 50%;
  align-content: center;
  margin-left: 25%
}

.react-calendar__month-view__days__day--weekend{
  color: black !important;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575 !important;
}

.react-calendar {
  width: 50vw !important;
  height: 65vh;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar__navigation button {
    min-width: 44px;
    font-size: 14pt;
    background: none;
    margin-top: 1em !important;
}

/* .DayPicker-Day {
  display: table-cell;
  padding: 0.5em;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-size: 18pt;
}

.DayPicker-Day--today {
  color: black !important;
  font-weight: 700;
  background-color: aliceblue;
} */

.show-entry{
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  border: #757575;
  border-style: double;
  padding: 5%;
  border-radius: 2%;
  background-color: aliceblue
}

.input-textarea{
  min-width: 70%;
  min-height: 3.5em;
}

.page{
  margin: 2%;
  border: #000000;
  max-width: 80%;
}

.scale-item{
  border: #000000;
}

/* TABLE STYLING START */

table {
  border-collapse: collapse;
  width: 60%;
  min-width: 60%;
  margin-left: 20%
}

table, th, td {
  border: 1px solid black;
  padding: .5em;
  font-size: 12pt;
  text-align: left
}

tbody{
  background-color: white;
  width: 50%;
}

.centered-table-element{
  text-align: center
}

/* TABLE STYLING END */

.chartjs-render-monitor {
  animation: chartjs-render-animation 0.001s;
  max-width: 88vw;
  max-height: 85vh;
  margin: 3%;
  background-color: white;
  padding: 2%;
  border-radius: 2%;
}

.page-left{
  text-align: left;
  margin: 3%;
  line-height: 1.5em;
}

header{
  font-size: 36pt;
  background-color: aquamarine;
  padding: 2%;
  /* font-family: 'Poiret One', cursive;
  font-family: 'Cherry Swash', cursive;
  font-family: 'Voces', cursive; */
}

.entry-form{
  
  margin-top: 5%;
  margin-left: 18%;
  margin-right: 18%;
  border: #757575;
  border-style: double;
  padding: 2%;
  border-radius: 2%;
  background-color: aliceblue
}

/* ANIMATIONS */

.slide-fwd-center {
	-webkit-animation: slide-fwd-center 0.4s cubic-bezier(0.600, 0.040, 0.980, 0.335) forwards;
	        animation: slide-fwd-center 0.4s cubic-bezier(0.600, 0.040, 0.980, 0.335) forwards;
}