.App {
  text-align: center;
  /* background-color: aliceblue; */
  min-height: 100vh;
  height: 100%;
  /* background-color: aliceblue */
  background: repeating-linear-gradient(
    90deg,
    #F9B8C2,
    #F9B8C2 5%,
    #FFF0D6 5%,
    #FFF0D6 10%,
    #CDF4D6 10%,
    #cdf4d6 15%,
    #AEF9EF 15%,
    #AEF9EF 20%,
    #8fdeea 20%,
    #8FDEEA 25%
  );

  /* background-image:url('IMG_9267.JPG');
  background-size: cover */
  
}
/* BACKGROUND CHOICES
background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
background-image: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%);

*/

.login-card{
  background-color:  #8FDEEA;
  border-color:  rgb(65, 197, 218);
  font-family: 'Montserrat', sans-serif;
  width: 34%;
  margin-left: 31%;
  border-radius: 3%;
  padding: 2%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcome-btn{
  font-size: 28pt;
  width: 6.5em;
  height: 3.5em;
  margin: .3em;
  border-radius: 5%;
  background-color: aliceblue;
  font-family: 'Montserrat', sans-serif;
  
  /* display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform; */
}

.welcome-btn:hover{
  /* background-image:url('IMG_9267.JPG');
  background-size: cover; */
  background-color:  #8FDEEA;
  border-color:  rgb(110, 202, 216)
  /* display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform; */
}


.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
/* .hvr-grow:focus, */
.hvr-grow:active {
  transform: scale(1.1);
}


.nav-item{
  margin-left: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 11pt;
  color: black
}

.nav-bar{
  padding: 1em;
  /* background: repeating-linear-gradient(
    90deg,
    #F9B8C2,
    #F9B8C2 5%,
    #FFF0D6 5%,
    #FFF0D6 10%,
    #CDF4D6 10%,
    #CDF4D6 15%,
    #AEF9EF 15%,
    #AEF9EF 20%,
    #8FDEEA 20%,
    #8FDEEA 25%
  ); */
  background-color:rgb(117, 212, 227)
}
/* CALENDAR START */

.calendar{
  /* margin-left: 1%; */
  min-width: 46vw;
  min-height: 60vh;
  background-color:rgb(0, 187, 255);
  border-radius: 2%;
  align-content: center;
  color: black;
  font-size: 36pt;
}

.calendar2{
  margin-left: 20%;
  /* min-width: 5em;
  min-height: 3em; */
  background-color:rgb(0, 187, 255);
  border-radius: 2%;
  align-content: center;
  color: black;
  font-size: 14pt;
}


.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid rgb(31, 156, 206);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  min-height: 75vh;
  min-width: 50%;
  align-content: center;
  margin-left: 25%
}

.react-calendar__month-view__days__day--weekend{
  color: black !important;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575 !important;
}

.react-calendar {
  width: 50vw !important;
  height: 65vh;
  max-width: 100%;
  background: white;
  border: 1px solid rgb(31, 156, 206);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar__navigation button {
    min-width: 44px;
    font-size: 14pt;
    background: none;
    margin-top: 1em !important;
}

.react-calendar__tile--active {
  background: rgb(110, 202, 216) !important;
  color: white;
} 

/* CALENDAR END */

.show-entry{
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  border: #757575;
  border-style: solid;
  padding: 5%;
  border-radius: 2%;
  background-color: aliceblue
}

.input-textarea{
  min-width: 70%;
  min-height: 3.5em;
}

.page{
  margin: 2%;
  border: #000000;
  max-width: 80%;
}

.scale-item{
  border: #000000;
}

/* TABLE STYLING START */

table {
  border-collapse: collapse;
  width: 60%;
  min-width: 60%;
  margin-left: 20%;
  border-radius: 3%;
}

.rounded{
  border-radius: 2% !important
}

table, th, td {
  border: 1px solid black;
  font-size: 11pt;
}

th{
  background-color: rgb(31, 156, 206);
  padding: .3em;
  font-size: 14pt;
  font-family: 'Montserrat', sans-serif;
  color: aliceblue;
}

td{
  padding: .2em;
  text-align: left;
  font-size: 10pt;
}

tbody{
  background-color: aliceblue;
  width: 50%;
}

.centered-table-element{
  text-align: center 
}
.symptoms-table-outer{
  background-color:rgb(117, 212, 227);
  width: 60%;
  margin-left: 20%;
  padding-top: .5%;
  border-radius: 2%;
  color: black;
  font-family: 'Montserrat', sans-serif;
}
.symptoms-table{
  background-color: aliceblue;
  padding: 3%;
  padding-left: 15%;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: left;
  -moz-columns:2;
  -webkit-columns:2;
  columns:2;
}

/* TABLE STYLING END */

.chartjs-render-monitor {
  animation: chartjs-render-animation 0.001s;
  max-width: 84vw;
  max-height: 75vh;
  margin: 4%;
  margin-left: 6%;
  background-color: white;
  padding: 2%;
  border-radius: 2%;
}

.page-left{
  text-align: left;
  margin: 3%;
  line-height: 1.5em;
}

header{
  font-size: 36pt;
  background-color: rgb(117, 212, 227);
  color: black;
  /* background-image:url('IMG_9267.JPG');
  background-size: cover; */
  padding: 1.5%;
  /* font-family: 'Poiret One', cursive; */
  font-family: 'Montserrat', sans-serif;
}

.entry-form{
  
  margin-top: 5%;
  margin-left: 18%;
  margin-right: 18%;
  border-color: rgb(117, 212, 227);
  padding: 2%;
  border-radius: 2%;
  background-color: aliceblue
}

.nav-name{
  font-size: 28pt;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 500
}

.sc-container{
  background-color: aliceblue;
  margin: 10%;
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 1%;
}
.sc-container-points{
  background-color: aliceblue;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  /* margin: 5% */
}

/* .btn{
  background-color: rgb(31, 156, 206);
} */

.earlier-btn{
margin-right: 60%;

}

.later-btn{
  margin-right: 5%;
  
}

/* .btn-group{
  margin-bottom: 10%
} */

.show-entry-input{
  font-size: 11pt;
}

li{
  font-size: 11pt
}

.sc-menu{
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
}

.sc-menu-btn{
  font-size: 18pt;
  width: 6em;
  height: 3.5em;
  margin: .3em;
  border-radius: 5%;
  background-color: rgb(31, 156, 206);

}

.sc-menu-btn:hover{
  background-color: rgb(31, 156, 206);
  /* display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform; */
}

.schedule-form{
  border-color: rgb(117, 212, 227);
  width: 30%;
  padding: 2%;
  border-radius: 2%;
  margin: 5%;
  margin-left: 10%;
  margin-right: 2%;
  background-color: aliceblue;
  font-size: 10pt;
}

.schedule-container{
display: flex;
flex-direction: row
}

input[type="datetime-local" i] {
  align-items: center;
  display: -webkit-inline-flex;
  font-size: 8pt;
  font-family: Arial, Helvetica, sans-serif;
  padding-inline-start: 1px;
  cursor: default;
  overflow: hidden;
  width: 14.5em;
}

.style-font{
  font-family: 'Montserrat', sans-serif;
}

.schedule-header{
  font-size: 12pt;
}

/* ACCORDION START */
.accordion {
  background-color:rgb(110, 202, 216);
  color: black;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  padding: 2%;
  padding-left: 5%;
  width: 70%;
  border-radius: 2%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-left: 12%
}

.panel {
  padding: 1%;
  background-color: aliceblue;
  color: #000;
  font-size: 11pt;
  font-family: Arial, Helvetica, sans-serif;
  /* display: none; */
  /* overflow: hidden; */
}
/* ACCORDION STOP */

/* .choose-date{
  color: aliceblue;
} */

/* ANIMATIONS */

.slide-fwd-center {
	-webkit-animation: slide-fwd-center 0.4s cubic-bezier(0.600, 0.040, 0.980, 0.335) forwards;
	        animation: slide-fwd-center 0.4s cubic-bezier(0.600, 0.040, 0.980, 0.335) forwards;
}